{
  "extends": [
    "twilio-ts"
  ],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "overrides": [{
    "files": ["*.test.ts"],
    "rules": {
      "sonarjs/no-duplicate-string": "off"
    }
  }],
  "rules": {
    "prefer-promise-reject-errors": "off",
    "import/no-named-as-default-member": "off",
    "prefer-named-capture-group": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "sonarjs/no-duplicate-string": "warn",
    "sonarjs/cognitive-complexity": "warn",
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": ["/"]
        }
      }
    ]
  }
}
