version: 2.1

setup: true

parameters:
  run_e2e_test:
    default: false
    type: boolean
  run_pr_validator:
    default: true
    type: boolean
  run_npm_publish:
    default: false
    type: boolean
  dist_tag:
    default: "alpha"
    type: string
  version_bump:
    default: "patch"
    type: string
  package_version:
    default: ""
    type: string
  flex_ui_version:
    default: ""
    type: string

executors:
  node:
    parameters:
      tag:
        type: string
    docker:
      - image: cimg/node:<< parameters.tag >>-browsers
  macos:
    macos:
      xcode: 14.2.0

orbs:
  split-config: bufferings/split-config@0.1.0

workflows:
  generate-config:
    jobs:
      - split-config/generate-config:
          find-config-regex: \./\.circleci/configs/.*\.yml