name: Flex Plugins CLI - E2E Testing

on:
  schedule:
    - cron: '20 18 * * *' # At 4:00 UTC (09:30 IST) every day

jobs:
  scheduled-e2e-test:
    uses: ./.github/workflows/~reusable_e2e_2.yaml
    if: github.event.schedule == '20 18 * * *'
    with:
      OS: ubuntu-latest
      BRANCH: main
      NPM_IGNORE_PREFIX: ${{ vars.NPM_IGNORE_PREFIX }}
      PACKAGE_VERSION: latest
      FLEX_UI_VERSION: latest
    secrets:
      CONSOLE_EMAIL: ${{ secrets.CONSOLE_EMAIL }}
      CONSOLE_PASSWORD: ${{ secrets.CONSOLE_PASSWORD }}
      CONSOLE_EMAIL_linux: ${{ secrets.CONSOLE_EMAIL_linux }}
      TWILIO_ACCOUNT_SID_linux: ${{ secrets.TWILIO_ACCOUNT_SID_linux }}
      TWILIO_AUTH_TOKEN_linux: ${{ secrets.TWILIO_AUTH_TOKEN_linux }}
      CONSOLE_EMAIL_win32: ${{ secrets.CONSOLE_EMAIL_win32 }}
      TWILIO_ACCOUNT_SID_win32: ${{ secrets.TWILIO_ACCOUNT_SID_win32 }}
      TWILIO_AUTH_TOKEN_win32: ${{ secrets.TWILIO_AUTH_TOKEN_win32 }}
      CONSOLE_EMAIL_darwin: ${{ secrets.CONSOLE_EMAIL_darwin }}
      TWILIO_ACCOUNT_SID_darwin: ${{ secrets.TWILIO_ACCOUNT_SID_darwin }}
      TWILIO_AUTH_TOKEN_darwin: ${{ secrets.TWILIO_AUTH_TOKEN_darwin }}

  notify-failure:
    runs-on: ubuntu-latest
    needs: scheduled-e2e-test
    if: always()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: needs.scheduled-e2e-test.result != 'success'
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEB_HOOK }}
          SLACK_COLOR: failure
          SLACK_USERNAME: Github Actions
          SLACK_ICON_EMOJI: ':ship:'
          SLACK_TITLE: 'Flex Plugins CLI - Nightly E2E - ${{ runner.os }}'
          SLACK_MESSAGE: '${{ github.repository }}/${{ github.ref }} - nightly E2E tests failed for ${{ runner.os }}.'
          MSG_MINIMAL: actions url
