name: Manual Alpha Release v6

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: The Version type for PUBLIC Release
        options:
          - patch
          - minor
          - major
        required: true

jobs:
  release-public-version:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/~reusable_public_publish.yaml
    with:
      TAG: alpha
      VERSION: patch
      BRANCH: FLEXY-5323-6.4.2
      ENVIRONMENT: alpha_release
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
      SLACK_WEB_HOOK: ${{ secrets.SLACK_WEB_HOOK }}
      G_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      APP_ID: ${{ secrets.APP_ID }}
      APP_KEY: ${{ secrets.APP_KEY }}
