name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
#      - name: Install project dependencies
#        run: npm i
#      - name: Run linter
#        run: npm run lint:fix
#      - name: Run Tests
#        run: npm run test:ci
#        env:
#          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID_linux }}
#          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN_linux }}
#          NODE_OPTIONS: --no-experimental-fetch
#          CI: ""
#      - name: Build packages
#        run: npm run build
#      - name: Codecov report
#        uses: codecov/codecov-action@v3
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}

  